* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-color: #5e6ec2;
}

body {
	background-color: var(--background-color);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	min-height: 100vh;
	display: grid;
	place-content: center;
}

.modal {
	width: 800px;
	background-color: #fff;
	border-radius: 10px;
	padding: 2rem 2.5rem;
}

.file-dragzone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 3px dashed #7c7a7a;
	border-radius: 10px;
	padding: 1rem;
}

.file-dragzone.active {
	border: 3px dashed var(--background-color);
}

.file-dragzone input {
	display: none;
}

.file-list {
	margin-top: 1rem;
}

.file-list ul {
	list-style: none;
	padding: 0;
}

.file-list .file-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 0.5rem;
	border-bottom: 1px solid #aeadad91;
}

.file-list .file-item:hover > .file-item-actions {
	opacity: 1;
}

.file-list .file-item:last-child {
	border-bottom: none;
}

.file-list .file-item .file-item-info {
	display: flex;
	align-items: center;
}

.file-list .file-item .file-item-info img {
	width: 20px;
}

.file-list .file-item .file-item-info p {
	margin-left: 0.85rem;
}

.file-list .file-item .file-item-actions {
	display: flex;
	gap: 5px;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.file-list .file-item .file-item-actions span {
	background-color: #747272;
	color: white;
	padding: 0.25rem 0.5rem;
	border-radius: 10px;
	cursor: pointer;
}
