* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-color: #5e6ec2;
}

body {
	background-color: var(--background-color);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	min-height: 100vh;
	display: grid;
	place-content: center;
}

.modal {
	width: 800px;
	background-color: #fff;
	border-radius: 10px;
	padding: 2rem 2.5rem;
}

.input-file-dragzone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 3px dashed #7c7a7a;
	border-radius: 10px;
	padding: 1rem;
}

.input-file-dragzone.active {
	border: 3px dashed var(--background-color);
}

.input-file-dragzone input {
	display: none;
}

.input-file-list {
	margin-top: 1rem;
}

.input-file-list ul {
	list-style: none;
	padding: 0;
}

.input-file-list ul li {
	display: flex;
	align-items: center;
	padding: 0.75rem 0.5rem;
	border-bottom: 1px solid #aeadad91;
}

.input-file-list ul li:last-child {
	border-bottom: none;
}

.input-file-list ul li img {
	width: 30px;
}

.input-file-list ul li p {
	margin-left: 0.75rem;
}
